<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spookelton Giveaway</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script>
    function updateEntries(game) {
      console.log(game)
      var socket = io();
      socket.emit('test', game);
      socket.on('cart-updated', function (cart_status) {
        if (cart_status.err) {
          alert(err);
        }
        $('.' + game.gameid).text(game.return);
        $('.' + game.gameid).addClass('disable');
        $('.' + game.gameid).removeClass('fa fa-shopping-cart');
      });
    };
    </script>
    <link href="css/giveaway.css" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <div class='content-header-container'>
        <% if (typeof(user) == 'undefined') { %>
          <a href='/login'><button class="btn login-button"><img class="login-image" src='https://cdn.worldvectorlogo.com/logos/discord.svg'>Login With Discord</button></a>
        <% } else { %>
          <button class="btn login-button"><img class="login-image" src='https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=128'><%- user.username %></button>
        <% } %>
      </div>
      <ul>
        <% games.forEach(function(game) { %>
          <a href="/I?id=<%- game._id %>">
            <li class="imgCont">
              <div class="imgDescription imgDesNorm">
                <h3><%- game.name %></h3>
                <% if (game.short_description != '') { %>
                  <p><%- game.short_description %></p>
                <% } else { %>
                  <p>Game description unavailable... Have a cookie <3</p>
                <% } %>
              </div>
              <img class="imgnorm" src='<%- game.image%>'></img>
              <div class="imgOver">
                <% if (typeof(user) !== 'undefined') { %>
                  <a href='javascript:;' onclick='javascript:updateEntries(<%- '{"name":"' + game.name + '","id":"' + user.id + '","gameid":"' + game._id + '","img":"' + game.image + '"}' %>)'><i class='<%- game._id %> add fa fa-plus' aria-hidden="true"></i></a>
                <% } %>
              </div>
          </li>
        </a>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
